.*
.gitignore
!/.vscode/*.json
/build/
/.classpath/
/.settings/
.project
/util/DBConnection.java
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.classpath
.settings/org.eclipse.wst.common.project.facet.core.xml
.vscode/
README.md
.settings/org.eclipse.jdt.core.prefs
scripts/vscode-tomcat.ps1
